body{
	background-color: #eee;

}
.container{
	background-color: white;
	margin-top: 5%;
	padding: 2em;
	margin-bottom: 5%;
}

p#instructions{
	margin-top: -15px;
}

img{
	width: 100%;
}

canvas#canvas0{
  border-style: solid;
  background: url(https://lh5.googleusercontent.com/nslvYHf3JkljDm9nL8h8tsnLRaN3Uq9Pp4zsBDsdCRoLrH3Ypg92QwV-MUxgza3gXtQRhlZWRlzdX5sV5f-81yjjCy97cxVrIwMsIspdOiIHtuHRtBfV0Rwa--z1zIiWfoojUew);

 background-size: no-repeat;
}




canvas#canvas1{
  border-style: solid;
  background: url(https://lh4.googleusercontent.com/n6VFOHBPQpK4gJQSU4qeBtphelVEsGSiq5g3HFjw3rc50n_JQoKyxJGKlu01lLHiTKgxx-wRr5mEyVympDBegogs3YlCdJlD3r1aX7PHgzi2li2xZlMS6uDiD1KPcsrd7P2tIwM);
  background-size: contain;
}


canvas#canvas2{
  border-style: solid;
  background: url(https://lh4.googleusercontent.com/vcgdVuSpyx555RHzbiPoiAcqPIWB80Jx29HWF41caD0rI-e0ULa8jm5LzcGln3MUeLb0sP2oPANgrDVHjsXR8ygtMox4dUCpqgbLw0U--cRic2yPZDlr0ZyHLIXJkbLod65uy2c);
  background-size: contain;
}
canvas#canvas3{
  border-style: solid;
  background: url(https://lh4.googleusercontent.com/LHhvVf6cU-6lWr4SodTOF5nuc9x_3kR7AF__klD4MD5JEWlEkLXe8EfLypoYvhGSO198mudVK4xfbhazQpLsjD33urnPezyPTT5cpCfIOSz5iHekb_rckUjCzmTluKuLZuyNZvI);
  background-size: no-repeat;

}

canvas#canvas4{
  border-style: solid;
  background: url(https://lh3.googleusercontent.com/-6eLN7aqdvR_R-Yl161ounMOpl_73iIOBsXAB1B_ebBtMrs8Twa1CvwR4VE8-NufV3U4O9ErRUt6XkbfkJhdakG3KDreYMZ3k2Vx7uaIJJ1y_yHI2j1mcoSLSuDmn_O4_FXA4ng);
  background-size: no-repeat;
}
canvas#canvas5{
  border-style: solid;
  background: url(https://lh5.googleusercontent.com/7480LutksdurPysbnNEVBZiAEDCDJWSBU-cfLi_2PPX8howrUgUkIB6UQcb6cEWwpcnr2rO0YiKx1ok2JC4c_H0MgPTs3Sf8zxgYTEuRLAa0KcRlAXesq-3QwArOlyYOaXoAIVc);
  background-size: no-repeat;
}

canvas#canvas6{
  border-style: solid;
  background: url(http://i.dailymail.co.uk/i/pix/2014/03/04/article-2572822-1C00A05D00000578-773_634x376.jpg);
  background-size: no-repeat;
}


​







